table {
    width: 100%;
    border-collapse: collapse;
}

th, .center {
    text-align: center;
}

th, td {
    padding: 3px 6px;
}

.nowrap {
    white-space: nowrap;
}

.recent td {
    font-weight: bold;
}
